<!DOCTYPE html>
<html>
<head>
    <title>Document Summarization</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Document Summarization</h1>
    <div class="file-upload">
        <label for="file">Upload a Text or PDF File:</label>
        <input type="file" id="file" accept=".txt,.pdf" multiple>
    </div>
    <button id="submit">Submit</button>
    <div class="summary">
        <h2>Summary:</h2>
        <p id="summary-text"></p>
    </div>
    <button><a href="http://127.0.0.1:5500/backendEnvironment/templates/chatbot.html">chatbot</a></button>
    <button><a href="http://127.0.0.1:5500/backendEnvironment/templates/index.html">Document Summarization</a></button>
    <button><a href="http://127.0.0.1:5500/backendEnvironment/templates/mood.html">Mood Analyzer</a></button>
    <script src="scripts.js"></script>
</body>
</html>
